@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #ebe7d5;
}

table {
  padding: 5px;
  border: 1px solid black;
  border-right: none;
  margin: 20px;
  background-color: rgb(99, 99, 99);
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  flex-direction: column-reverse;
}

tbody {
  display: flex;
  flex-direction: column-reverse;
}

thead {
  background-color: #424242; /* ;) */
  color: #dedede;
}

thead td {
  padding: 2px;
  border-radius: 2px;
  border: 2px solid #1f1212;
  width: 163px;
}

thead td:last-child {
  width: 80px
}

input[readonly] {
  background-color: #ddd;
  border: none;
  cursor: default;
}

input {
  background-color: #eee;
  border: 1px solid #424242
}

.btn {
  padding: 0 15px;
  border: 2px solid #aaa
}

.btn-edit {
  color: rgb(29, 29, 247);
}

.btn-delete {
  color: rgb(155, 7, 7);
}

.btn-new {
  color: rgb(22,88,22)
}

.danger {
  background-color: rgb(255, 119, 119);
  border: 1px solid #810000;
  animation: fadein 0.5s forwards;
}

.success {
  background-color: lightgreen;
  border: 1px solid #1c6d1c;
  animation: fadein 0.5s forwards;
}

@keyframes fadein{
  0% {
    opacity: 0;
    transform: scale(0.5,0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}